.*history
._*
.bash_logout
.bash_profile
.cache/*
.cargo/*
.config/*.xml*
.config/.gsd-keyboard.settings-ported
.config/alacritty/platform.yml
.config/aria2/*
.config/bottom/*
.config/broot/*
.config/btop/*
.config/dconf/*
.config/direnv/*
.config/dleyna-renderer-service.conf
.config/environment.d/*
.config/evolution/*
.config/fish/*
.config/GNOME-xdg-terminals.list
.config/gtk-3.0/bookmarks
.config/home-manager/flake.*
.config/home-manager/home.nix
.config/htop/*
.config/ibus/*
.config/libvirt/qemu.conf
.config/libvirt/storage/*
.config/nix/*
.config/nvim/lazy-lock.json
.config/pulse/*
.config/startkderc
.config/systemd/*
.config/user-dirs.dirs
.config/xdg-terminals.list
.detsys-nix/*
.dotfiles/*
.DS_Store
.lesshst
.lldb/*
.local/scripts/other-common-scripts/git-prompt.sh
.local/share/*
.local/state/*
.mozilla/*
.nix*
.nvim/undodir/*
.profile
.rustup/*
.Spotlight-V100
.ssh/*
.sudo_as_admin_successful
.Trashes
.viminfo
.vms/*
.wget-hsts
.Xauthority
.xsel.log
.zcompdump
.zshenv
Downloads/*
my-git-repos/*
Pictures/*
Thumbs.db
veeams/*
