.*history
._*
.bash_logout
.bash_profile
.cache/*
.cargo/*
.CFUserTextEncoding
.compose-cache/*
.config/*.xml*
.config/.gsd-keyboard.settings-ported
.config/aerc/accounts.conf
.config/alacritty/platform.toml
.config/aria2/*
.config/asciinema/*
.config/autostart/*
.config/baloofilerc
.config/bottom/*
.config/BraveSoftware/*
.config/broot/*
.config/btop/*
.config/chromium/*
.config/dconf/*
.config/device_automounter_kcmrc
.config/direnv/*
.config/dleyna-renderer-service.conf
.config/dolphinrc
.config/drkonqirc
.config/environment.d/*
.config/evolution/*
.config/fish/*
.config/GNOME-xdg-terminals.list
.config/google-chrome/*
.config/gtk-3.0/*
.config/gtk-3.0/bookmarks
.config/gtk-4.0/
.config/gtkrc
.config/gtkrc-2.0
.config/home-manager/flake.*
.config/home-manager/home.nix
.config/htop/*
.config/ibus/*
.config/kactivitymanagerd*
.config/kalk/
.config/kconf_updaterc
.config/kde.org/*
.config/kded*rc
.config/kdeglobals
.config/kglobalshortcutsrc
.config/konsolerc
.config/konsolesshconfig
.config/ksnip/*
.config/ktimezonedrc
.config/kwinoutputconfig.json
.config/kwinrc
.config/libvirt/qemu.conf
.config/libvirt/storage/*
.config/mimeapps.list
.config/neochatrc
.config/nix-darwin/*
.config/nix/*
.config/nvim/lazy-lock.json
.config/okularrc
.config/org.kde.keysmith/Keysmith.conf
.config/plasma-localerc
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasmaparc
.config/plasmashellrc
.config/powermanagementprofilesrc
.config/protonmail/*
.config/pulse/*
.config/QtProject.conf
.config/session/dolphin_dolphin_dolphin
.config/spectaclerc
.config/startkderc
.config/systemd/*
.config/systemsettingsrc
.config/Thunar/*
.config/Trolltech.conf
.config/ubuntu-xdg-terminals.list
.config/user-dirs.dirs
.config/xdg-desktop-portal-kderc
.config/xdg-terminals.list
.config/xsettingsd/xsettingsd.conf
.config/zed/*
.detsys-nix/*
.dotfiles/*
.DS_Store
.git-credentials
.gnupg/*
.gtkrc-2.0
.lesshst
.lldb/*
.local/*/bin*
.local/scripts/other-common-scripts/git-prompt.sh
.local/share/*
.local/state/*
.mozilla/*
.nix*
.nvim/undodir/*
.pki/*
.prathams-nixos
.profile
.rustup/*
.Spotlight-V100
.ssh/*
.sudo_as_admin_successful
.terminfo/*
.thunderbird/*
.Trashes
.var/*
.viminfo
.vms/*
.wget-hsts
.Xauthority
.xsel.log
.zcompdump
.zshenv
Applications/*
Desktop/*
Documents/*
Downloads/*
Library/*
Movies/*
Music/*
my-git-repos/*
Pictures/*
Public/*
result
snap/*
Thumbs.db
veeams/*
VirtualBox VMs/*
