[credential]
    helper = store
[core]
    editor = nvim
[user]
    name = Pratham Patel
    email = thefirst1322@gmail.com
#    signingkey =
#[commit]
#    gpgsign = true
[color]
    ui = auto
[init]
    defaultBranch = master
[push]
    default = simple
[diff]
    tool = meld
[gpg]
    program = gpg2
[blame]
    date = iso8601
    showEmail = true
[log]
    date = iso8601
