[advice]
    addIgnoredFile = false
[blame]
    date = iso8601
    showEmail = true
[checkout]
    thresholdForParallelism = 1000 # perform parallel checkout only if files are > 1000
    workers = 0 # < 1 means use all **logical** cores
[color]
    ui = auto
    advice = auto
    branch = auto
    diff = auto
    grep = auto
    interactive = auto
    push = auto
    remote = auto
    showBranch = auto
    status = auto
    transport = auto
[column]
    ui = auto,column,nodense # should cover all supported commands; I hope
    status = never # show one entry of 'untracked files' per line
[commit]
    gpgsign = true
    status = true # show status info in the editor opened by `git commit` (as a comment)
    verbose = true # show the diff in the editor opened by `git commit` (as a comment)
[core]
    abbrev = 12
    compression = 9
    editor = nvim
    fsmonitor = true # no workey on penguin
[credential]
    helper = store
[diff]
    guitool = meld # overrides `merge.guitool`
[difftool]
    guiDefault = false # do **NOT** open `diff.guitool` even if `DISPLAY` is set
[fetch]
    parallel = 0 # multi-threaded fetching
[format]
    cc = thefirst1322@gmail.com # my other email
    numbered = true
    signOff = true
[fsmonitor]
    allowRemote = false
[gpg]
    format = ssh
    [ssh]
        allowedSignersFile = ~/.ssh/allowed_signers
[init]
    defaultBranch = master
[log]
    date = iso8601
[pretty]
    fixes = Fixes: %h (\"%s\")
[push]
    default = simple
    followTags = true
[sendemail]
    smtpEncryption = none
    smtpPass = AAAAAAAAAAAAAAAAAAAAAA
    smtpServer = 127.0.0.1
    smtpServerPort = 1025
    smtpUser = prathampatel@thefossguy.com
    supresscc = self
[user]
    email = prathampatel@thefossguy.com
    name = Pratham Patel
    signingkey = ~/.ssh/git

# Third party "extension" configuration.
[delta]
    dark = true
    hyperlinks = false
    line-numbers = true
    side-by-side = true
