[Unit]
Description=Ensure that the VM pools are available

[Service]
ExecStart=/usr/bin/bash /home/pratham/.scripts/_flameboi/virt/ensure-pool-online-status.sh
Type=simple

[Install]
WantedBy=multi-user.target
